# 1. 변수 선언 및 활용

컴퓨터 프로그램을 데이터를 이용하여 다음과 같은 일들을 처리하기 위한 명령문들의 나열로 생각할 수 있다.

* 데이터 읽기
* 데이터 생성하기
* 데이터 계산하기
* 데이터 변환하기
* 데이터 정리하기
* 데이터 저장하기

특정 데이터를 조작하기 위해서는 해당 데이터를 저장하거나 불러올 수 있어야 한다. 그러기 위해서 변수를 활용한다. 변수를 일종의 그릇에 비유할 수 있으며, 변수에 할당된 데이터는 그릇에 담겨진 내용물에 해당한다. 

파이썬에서 변수의 이름을 지으려면 기본적으로 아래의 규칙을 따라야 한다. 
* 반드시 영어 알파벳 문자(a-z, A-Z) 또는 밑줄기호(_)로 시작해야 하며, 이후에는 알파벳, 숫자(0-9), 밑줄기호가 임의로 사용될 수 있다. 
* 파이썬 예약어(def,from, import 등)를 변수 이름으로 사용하면 안된다.
* 대소문자를 구분해야 한다: `YOU`, `you`, `You`, `yOu`는 모두 다른 이름으로 처리된다.
* `-`, `+`, `*`, `/` 등의 연산자 기호는 이름에 사용할 수 없다.
* `@`, `$`, `?` 등의 기호도 사용되지 않는다. 
* 변수명에 공백을 사용할 수 없다.

## 1) 변수 선언

변수에 특정 값을 할당하는 것을 변수 선언이라고 부른다. 변수 선언은 아래 모양을 갖춘다. 

`변수이름 = 할당할 값`

예를 들어, 아래에서 `a_number`라는 변수이름에 정수 `2`가 할당되었고, `a_word` 변수에는 `dog`라는 문자열이 할당되었다.  

[주의]
* 변수를 생성하고자 할 때 값을 초기화하면 된다. 즉, 변수를 미리 선언할 필요가 없다. 
* 자료형을 선언할 필요가 없다. 변수의 자료형을 파이썬이 알아서 판단한다. 이를 동적타이핑(dynamic typing)이라 한다.

In [ ]:
a_number = 2
a_word = "dog"

변수에 할당된 값을 확인하기 위해 `print()` 함수를 이용한다.

In [ ]:
print(a_number)

2

In [ ]:
print(a_word)

dog

선언된 변수를 이용하여 연산을 할 수도 있다.

In [ ]:
a_number + 7

9

In [ ]:
(a_number + 6.0) / 5

1.6

연산의 결과를 변수에 할당할 수 있다. 해당 변수는 연산의 결과만을 기억한다.

In [ ]:
first_result = 8 / 3.5
first_result

2.2857142857142856

변수에 할당된 값은 변경이 가능하다. 원래 할당된 값을 변경할 수 있다는 의미에서 변수라 부른다. 변수가 아닌 숫자를 상수라 부른다.

In [ ]:
print(a_number)
a_number = 5 
print(a_number)

2
5

# 2. 기본 자료형

자료형에는 하나의 값만을 대상으로 한다는 의미의 단순 자료형과 여러 개의 값들을 묶어서 다룬다는 의미에서의 컬렉션 자료형(모음자료형)이 있다. 

### 단순 자료형
* 정수(int)
* 부동소수점(float)
* 불리언 값(bool)
* 문자열(str)

### 컬렉션 자료형
* 리스트(list)
* 튜플(tuple)
* 집합(set)
* 사전(dictionary)

여기서는 단순 자료형을 소개하고, 컬렉션 자료형은 이후에 다룬다.

## 1) 정수(int)
일반적으로 알고 있는 정수(자연수, 0, 음의 정수)들의 자료형이다. 정수형으로 나타내면 덧셈, 뺄셈, 곱셈, 나눗셈 등의 일반 연산이 가능하다. 파이썬에서 정수형은 int로 표시되며, integer의 줄임말이다. 

ex) ..., -3, -2, -1, 0, 1, 2, 3, ...  
ex) 1 + 3, -2 + 4 등등

## 2) 부동소수점(float)

부동소수점은 원래 실수를 컴퓨터에서 다루기 위해 개발되었으나 실제로는 유리수 일부만을 다룬다. 무리수인 원주율 $\pi$ 의 경우에도 컴퓨터의 한계로 인해 소수점 이하 적당한 자리에서 끊어서 사용한다.   
ex) 1.2, 0.333, -1.2, -3.7680, 4.0 등등

### 파이썬의 기본 연산

파이썬의 기본 연산을 표로 정리하면 아래와 같다.

|연산 기호|의미|예시|실행 결과|
|:----------:|:----------:|:----------:|:--------:|
|`+`|덧셈| 3 + 4 |7|
|`-`|뺄셈| 7 - 2 | 5|
|`*`|곱셈| 2 * 6 | 12|
|`/`|나눗셈|14 / 4|3.5|
|`**`|지수|2 ** 3|8|
|`//`|몫|9 // 2|4|
|`%`|나머지|3 % 2|1|

지수승을 나타내는 기호는 `**` 이다. 예를 들어, 2의 세제곱을 계산하고자 할 때 사용한다.

In [ ]:
2 ** 3

8

In [ ]:
9 ** 0.5

3.0

몫을 계산하는 연산자는 `//`이다.

In [ ]:
7 // 5

1

In [ ]:
7.0 // 5

1.0

In [ ]:
-7 // 5

-2

In [ ]:
-7.0 // 5

-2.0

나머지를 계산하는 연산자는 `%`이다.

In [ ]:
7 % 5

2

In [ ]:
-7 % 5

3

### 연산자 우선순위

일반적으로 알려진 연산자들 사이의 우선순위를 알아야 한다. 줄여서 PEMDAS(펨다스)로 기억하면 좋다.  

PEMDAS :
* 괄호(Parentheses)
* 지수승(Exponents)
* 곱셈(Multiplication)
* 나눗셈(Division)
* 덧셈(Addition)
* 뺄셈(Substraction)

In [ ]:
eqn1 = 2 * 3 - 2
print(eqn1)

4

In [ ]:
eqn2 = -2 + 2 * 3
print(eqn2)

4

In [ ]:
eqn3 = -2 + (2 % 3)
print(eqn3)

0

In [ ]:
eqn4 = (.3 + 5) // 2
print(eqn4)

2.0

In [ ]:
eqn5 = 2 ** 4 // 2
print(eqn5)

8

정수(int)와 부동소수점(float)에 대해서 더 살펴보자.

In [ ]:
new_int = 3
print(new_int)

3

In [ ]:
new_float = 4.0
print(new_float)

4.0

변수에 할당된 값의 자료형을 확인하려면 `type()` 함수를 사용한다.

In [ ]:
print(type(new_int))

<class 'int'>

In [ ]:
print(type(new_float))

<class 'float'>

정수와 부동소수점 사이에 강제로 형변환이 가능하다. 부동소수점을 정수로 변환하고자 할 경우에는 `int()` 함수를 사용한다. 그러면 소수점 이하는 버려진다.

In [ ]:
int(4.8)

4

정수를 부동소수점으로 형변환하려면 `float()` 함수를 사용한다.

In [ ]:
float(2)

2.0

주의: 변수를 형변환한다고 해서 변수에 할당된 값이 변하는 것은 아니다. 다만, 형변환한 값을 다른 변수에 저장해서 활용할 수는 있다.

In [ ]:
basic_int = 2
print(float(basic_int))
print(type(basic_int))

2.0
<class 'int'>

In [ ]:
float_basic_int = float(basic_int)
print(float_basic_int)

2.0

### 키워드 관련 주의사항

지금까지 살펴본 `float`, `int`, `print`, `type`은 파이썬에서 특별한 역할을 수행하는 키워드들이다.  

그런 키워드를 재정의할 수는 있지만 하지 않는 것이 좋다. 혹여 실수로 아래와 같은 일을 할 수도 있는데 매우 조심해야 한다.

In [ ]:
int = 4
print("What have we done to int?", int)

What have we done to int? 4

주의 : 위에서 사용된 `print()` 함수의 사용법을 기억해둔다. `print()` 함수는 인자를 여러 개 받을 수 있으며, 그 값들을 차례대로 동시에 한 줄에 표현한다. 각각의 값들은 콤마(comma)로 구분되어진다.

In [ ]:
int(5.0)

TypeError: ignored

즉, `int()` 함수의 본래의 정의가 사라졌다. 이럴 때는 아래와 같이 원래의 함수로 되돌릴 수 있다.

In [ ]:
del int
int(5.0)

5

## 3) 불리언 값(bool)

참(True)과 거짓(False)를 나타내는 자료형이다. 
* True
* False

이 두 개의 값만을 이용하여 복잡한 프로그램을 구현할 수 있다.

예제: 강아지를 한 마리만 갖고 있다고 가정하자.

이것을 표현하기 위해 puppy(강아지 한마리)라는 변수에 True를 할당하고, 여러 마리의 강아지를 뜻하는 puppies 변수에는 False를 할당한다.

In [ ]:
puppy = True

In [ ]:
print(puppy)

True

In [ ]:
type(puppy)

bool

In [ ]:
puppies = False

두 개의 변수 선언을 아래와 같이 동시에 할 수 있다. 등호 기호 왼편과 오른편에 사용되는 변수와 값의 개수가 동일해야 함에 주의한다.

In [ ]:
puppy, puppies = True, False

In [ ]:
print("Do I have a puppy?", puppy)
print("Do I have puppies?", puppies)

Do I have a puppy? True
Do I have puppies? False

### 블리언 연산자

`and`, `not`, `or` 세 개의 연산자를 이용하여 불리언 연산을 할 수 있다. 각 연산자의 의미는 일반적으로 알려진 것과 동일하다.

In [ ]:
True and True

True

In [ ]:
True and False

False

불리언 자료형의 변수를 이용하여 연산을 수행할 수도 있다.

In [ ]:
puppy and puppies

False

In [ ]:
not puppies

True

In [ ]:
not puppy

False

### 불리언 연산자 우선순위

not 연산자의 우선순위가 가장 높다.

In [ ]:
puppy and not puppies

True

### 숫자 비교

일반적으로 사용하는 숫자들의 비교를 나타내는 연산자들은 다음과 같다. 리턴값은 모두 불리언 자료형이다. 

* `!=` : 다른지 여부를 판단
* `==` : 같은지 여부를 판단
* `<=` : 작거나 같은지 여부를 판단
* `>=` : 크거나 같은지 여부를 판단
* `<`  : 작은지 여부를 판단
* `>`  : 큰지 여부를 판단

In [ ]:
4 == 4

True

In [ ]:
4 == 5

False

In [ ]:
4 != 2

True

In [ ]:
4 != 4

False

In [ ]:
4 > 2

True

In [ ]:
4 > 4

False

In [ ]:
4 >= 4

True

## 4) 문자열(str)

문자들을 나열한 값들을 일컫는 자료형이다. 파이썬에서 문자열 자료형은 str로 표시되며, string(스트링, 문자열)의 줄임말이다.   

ex) "Hello, World", 'dog', "123", 'a' 등  
 
문자열은 큰따옴표("") 또는 작은따옴표('')로 둘러싸여 있다.

### 문자열에 따옴표 포함하기

아래 문자열이 보이는 그대로 출력하고자 한다.
> Hello, "World"

* 문자열을 감싸는 따옴표의 종류에 따라 달라진다.
* 문자열 내부에 사용되는 따옴표는 기본적으로 역슬래시(한글 키보드에는 원화(￦)기호)를 사용한다.

In [ ]:
print('Hello, "World"')

Hello, "World"

In [ ]:
print("Hello, \"World\"")

Hello, "World"

### 문자열에 특수 문자 활용하기

역슬래시(￦), 줄바꾸기(￦n), 탭(￦t) 등은 문자열에 사용될 경우 특수한 기능을 갖는다.

In [ ]:
print("Hello\n World")

Hello
 World

In [ ]:
print("Hello\t World")

Hello	 World

따라서 문자열 내에 특수 기능을 갖는 문자열을 사용하고자 할 경우 역슬래시를 모든 역슬래시 앞에 사용하여서 특수 기능을 제거해야 한다.

In [ ]:
print("Hello\\n World")

Hello\n World

In [ ]:
print("Hello\\t World")

Hello\t World

In [ ]:
print("Hello\\ World")

Hello\ World

* '가공되지 않은'의 의미를 갖는 'raw'단어의 첫 글자인 'r'을 문자열 앞에 두면 특수 기능이 사라진다.

In [ ]:
print(r"Hello\n World")

Hello\n World

In [ ]:
print(r"Hello\t World")

Hello\t World

In [ ]:
print(r"Hello\ World")

Hello\ World

**형변환**   
숫자로만 이루어진 문자열을 진짜 숫자로 형변환시킬 수 있다. 예를 들어, `int()` 또는 `float()` 함수를 이용한다.

In [ ]:
a_number = int('4')

print(a_number)
print(type(a_number))

4
<class 'int'>

`float()` 함수를 이용하면 부동소수점 모양의 문자열을 부동소수점으로 형변환시킬 수 있다.

In [ ]:
float('4.2') * 2

8.4

주의 : 문자열과 숫자의 곱은 의미가 완전히 다르다.

In [ ]:
'4.2' *2

'4.24.2'

주의 : `int()` 함수는 정수모양의 문자열에만 사용할 수 있다.

In [ ]:
int('4.2') * 2

ValueError: ignored

부동소수점 모양의 문자열이 아니면 `float()` 함수도 오류를 발생시킨다.

In [ ]:
float('4.5GB')

ValueError: ignored

### 문자열 연산

문자열의 경우, 사칙연산 중 덧셈과 곱셈 연산자를 사용할 수 있다.

In [ ]:
"Hello " + "World"

'Hello World'

In [ ]:
"Hello " * 3

'Hello Hello Hello '

선언된 변수를 이용하여 연산을 할 수도 있다.

In [ ]:
a_word = "dog"
print(type(a_word))

<class 'str'>

In [ ]:
"Hello " + a_word

'Hello dog'

In [ ]:
a_word * 2

'dogdog'

주의 : 변수에 할당된 값의 자료형에 따라 연산의 가능여부가 결정된다. 예를 들어, 숫자와 문자열의 합은 정의되지 않으며, 실행할 경우 오류가 발생한다.

In [ ]:
2 + a_word

TypeError: ignored

주의 : 오류 내용을 초보자가 이해하기는 어렵다. 여기서는 자료형이 맞지 않아 오류가 발생할 경우에 `TypeError`가 발생한다는 사실만을 기억해 두면 좋다.

#### 부분 문자열 여부 연산자 : `in`

`in`은 두 개의 문자열을 받아들여서, 첫째 문자열이 둘째 문자열의 부분 문자열로 등장하는지 여부를 알려주는 논리 연산자이다.

In [ ]:
'an' in 'banana'

True

In [ ]:
'seed' in 'banana'

False

#### 문자열 비교 연산자 : `==`, `!=`, `<`, `>`
비교 연산자를 문자열에 사용할 수 있다.

In [ ]:
word = 'banana'

print(word == 'banana')

True

In [ ]:
print(word != 'banana')

False

In [ ]:
print(word != 'pineapple')

True

크기 비교 연산자들은 영어 사전식의 알파벳 순서를 사용하며, 예를 들어, 단어들을 알파벳 순으로 배치하는데 유용하다.

In [ ]:
'a' < 'b'

True

In [ ]:
'banana' > 'pineapple'

False

주의 : 영어 알파벳의 경우 대문자가 소문자보다 작다고 판단하다. 따라서 문자열을 다룰 때 소문자 또는 대문자로 통일 시킨 후에 비교를 해야 사전식으로 제대로 정렬할 수 있다.

In [ ]:
'banana' > 'Pineapple'

True

### 인덱스

문자열에 사용되는 모든 문자의 위치는 인덱스(`index`)라는 고유한 번호를 갖는다. 인덱스는 0부터 시작하며, 오른쪽으로 한 문자씩 이동할 때마다 증가한다. 

주의 : 파이썬을 포함해서 많은 대부분의 프로그래밍 언어에서 인덱싱은 0부터 시작한다. 따라서 첫 째 문자를 확인하고자 할 때는 1이 아닌 0을 인덱스로 사용해야 한다.  

예제를 통해 인덱스와 친숙해질 필요가 있다.

In [ ]:
a_food = "kebap"

특정 인덱스에 위치한 문자의 정보는 다음과 같이 확인한다.
* 0번 인덱스 값, 즉 첫째 문자

In [ ]:
a_food[0]

'k'

* 1번 인덱스 값, 즉 둘째 문자

In [ ]:
a_food[1]

'e'

* 2번 인덱스 값, 즉 셋째 문자

In [ ]:
a_food[2]

'b'

등등.


**-1번 인덱스**  
문자열이 길 경우 맨 오른쪽에 위치한 문자의 인덱스 번호를 확인하기가 어렵다. 그래서 파이썬에서는 -1을 마지막 문자의 인덱스로 사용한다.  
즉, 맨 오른편의 인덱스는 -1이고, 그 왼편은 -2, 등등으로 진행한다.

In [ ]:
a_food[-1]

'p'

In [ ]:
a_food[-2]

'a'

등등.  
<br>

**문자열의 길이와 인덱스**

문자열의 길이보다 같거나 큰 인덱스를 사용하면 오류가 발생한다. 문자열의 길이는 `len()` 함수를 이용하여 확인할 수 있다.

In [ ]:
a_food[5]

IndexError: ignored

In [ ]:
len(a_food)

5

### 슬라이싱

문자열의 하나의 문자가 아닌 특정 구간 및 부분을 추출하고자 할 경우 슬라이싱을 사용한다. 슬라이싱은 다음과 같이 실행한다.

> 문자열변수[시작인덱스 : 끝인덱스 : 계단(step)]

* 시작인덱스 : 해당 인덱스부터 문자를 추출한다.
* 끝인덱스 : 해당 인덱스 전까지 문자를 추출한다. 
* 계단(step) : 시작인덱스부터 몇 계단씩 건너뛰며 문자를 추출할지 결정한다. 예를 들어, 계단값이 2라면 하나 건너 추출한다.

In [ ]:
a_food

'kebap'

`kebap`에서 `ke` 부분을 추출하고 싶다면 다음과 같이 하면 된다.

In [ ]:
a_food[0 : 2 : 1]

'ke'

즉, 문자열 처음부터 2번 인덱스 전까지, 즉 두 번째 문자까지 모두 추출하는 것이다. 반변에 하나씩 건너서 추출하려면 다음과 같이 하면 된다.

In [ ]:
a_food[0 : 4 : 2]

'kb'

시작인덱스, 끝인덱스, 계단 각각의 인자는 경우에 따라 생략될 수도 있다. 그럴 때는 각각의 위치에 기본값(default)이 들어 있는 것으로 처리되며, 기본값은 다음과 같다.

* `시작인덱스`의 기본값 = `0`
* `끝인덱스`의 기본값 = 문자열의 길이
* `계단`의 기본값 = `1`

In [ ]:
a_food[0 : 2]

'ke'

In [ ]:
a_food[ : 2]

'ke'

In [ ]:
a_food[ : 4 : 2]

'kb'

In [ ]:
a_food[ : : 2]

'kbp'

양수와 음수를 인덱스로 섞어서 사용할 수도 있다.

In [ ]:
a_food[ : -1 : 2]

'kb'

주의 : -1은 문자열의 끝인덱스를 의미한다.  

끝인덱스가 문자열의 길이보다 클 수도 있다. 다만 문자열의 길이만큼만 문자를 확인하다.

In [ ]:
a_food[: 10]

'kebap'

아래와 같이 아무것도 입력하지 않으면 해당 문자열 전체를 추출한다.

In [ ]:
a_food[:]

'kebap'

시작인덱스의 값이 끝인덱스 값보다 같거나 작아야 제대로 추출한다. 그렇지 않으면 공문자열이 추출된다.

In [ ]:
a_food[3 : 1]

''

이유는 슬라이싱은 기본적으로 작은 인덱스에서 큰 인덱스 방향으로 확인하기 때문이다. 역순으로 추출하고자 한다면 계단을 음수로 사용하면 된다.

In [ ]:
a_food[3 : 1 : -1]

'ab'

In [ ]:
a_food[-1 : : -1]

'pabek'

### 문자열 관련 메소드

문자열 자료형에만 사용하는 함수들이 있다. 이와같이 특정 자료형에만 사용하는 함수들을 메소드(method)라 부른다.  

보다 자세한 설명은 여기서는 하지 않는다. 다만 특정 자료형을 잘 다루기 위해서는 어떤 경우에 어떤 메소드를 유용하게 활용할 수 있는지를 잘 파악해두는 것이 매우 중요하다는 점만 강조한다.

#### 메소드 호출방법

예를 들어, `banana` 문자열을 이용하여 `BANANA`처럼 모두 대문자로만 구성된 문자열을 생성하고자 한다면 `upper`라는 메소드를 아래와 같이 사용한다.

> `'banana'.upper()` 

메소드는 일반적인 함수들과는 달리, 특정 자료형의 값이 먼저 언급된 다음에 호출된다.

#### 문자열 메소드 추가 예제

`upper()` 메소드 이외에 문자열과 관련된 메소드는 매우 많다. 여기서는 가장 많이 사용되는 메소드 몇 개를 소개하고자 한다. 

* `strip()`
* `split()`
* `replace()`
* `upper()`
* `lower()`
* `capitalize()`
* `title()`
* `startswith()`
* `endswith()`

예제를 통해 각 메소드의 활용법을 간략하게 확인한다. 

먼저 `week_days` 변수에 요일들을 저장한다.

In [ ]:
week_days = " Mon, Tue, Wed, Thu, Fri, Sat, Sun "

* `strip()` 메소드는 문자열의 양 끝을 지정한 문자열 기준으로 삭제하는 방식으로 정리한다. 
예를 들어, 문자열 양 끝에 있는 스페이스를 삭제하고자 할 경우 아래와 같이 실행한다.

In [ ]:
week_days.strip(" ")

'Mon, Tue, Wed, Thu, Fri, Sat, Sun'

`strip()` 메소드를 인자 없이 호출하는 경우와 동일하다.

In [ ]:
week_days.strip()

'Mon, Tue, Wed, Thu, Fri, Sat, Sun'

* `split()` 메소드는 지정된 부분문자열을 기준으로 문자열을 쪼개어 문자열들의 리스트로 반환한다. 리스트 자료형은 이후에 자세히 다룬다.  

아래의 예제는 `", "`, 즉 콤마와 스페이스를 기준으로 문자열을 쪼갠다.

In [ ]:
week_days.split(", ")

[' Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun ']

두 개 이상의 메소드를 조합해서 활용할 수도 있다.  
예를 들어, `strip()` 메소드를 먼저 실행한 다음에 그 결과에 `split()` 메소드를 실행하면 좀 더 산뜻한 결과를 얻을 수 있다.

In [ ]:
week_days.strip(" ").split(", ")

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

주의 : 아래와 같이 `split()` 메소드를 실행한 다음에 그 결과에 `strip()` 메소드를 실행하면 오류가 발생한다. 앞에서 언급한 것처럼 `split()` 메소드는 지정된 부분문자열을 기준으로 문자열을 쪼개어 문자열들의 리스트로 반환하고, 리스트에는 `strip()` 메소드가 없기 때문이다.

In [ ]:
week_days.split(", ").strip(" ")

AttributeError: ignored

* `replace()` 메소드는 하나의 문자열을 다른 문자열로 대체한다. 
 
예를 들어, `" Mon"`을 `Mon`으로 대체할 경우 아래와 같이 실행한다.

In [ ]:
week_days.replace(" Mon", "Mon")

'Mon, Tue, Wed, Thu, Fri, Sat, Sun '

* `upper()` 메소드는 모든 문자를 대문자로 변환시킨다.

In [ ]:
week_days.upper()

' MON, TUE, WED, THU, FRI, SAT, SUN '

In [ ]:
week_days.strip().upper()

'MON, TUE, WED, THU, FRI, SAT, SUN'

* `lower()` 메소드는 모든 문자를 소문자로 변환시킨다.

In [ ]:
week_days.lower()

' mon, tue, wed, thu, fri, sat, sun '

In [ ]:
week_days.strip().lower()

'mon, tue, wed, thu, fri, sat, sun'

In [ ]:
week_days.strip().lower().split(", ")

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

* `caplitalize()` 메소드는 제일 첫 문자를 대문자로 변환시킨다.  

아래 예제는 변화가 없어 보인다. 이유는 첫 문자가 스페이스이기 때문이다.

In [ ]:
week_days.capitalize()

' mon, tue, wed, thu, fri, sat, sun '

In [ ]:
week_days.strip().capitalize()

'Mon, tue, wed, thu, fri, sat, sun'

* `title()` 메소드는 각각의 단어의 첫 문자를 대문자로 변환시킨다.  

참고 : 영문 책의 타이틀은 각 단어의 첫 알파벳이 대문자로 쓰여진 경우가 많다.

In [ ]:
week_days.title()

' Mon, Tue, Wed, Thu, Fri, Sat, Sun '

In [ ]:
week_days.strip().title()

'Mon, Tue, Wed, Thu, Fri, Sat, Sun'

* `startswith()` 메소드는 문자열이 특정 문자열로 시작하는지 여부를 판단해준다.

In [ ]:
week_days.startswith(" M")

True

* `endswith()` 메소드는 문자열이 특정 문자열로 끝나는지 여부를 판단해준다.

In [ ]:
week_days.endswith("n ")

True

### 불변 자료형

파이썬의 문자열 자료형의 값들은 변경이 불가능하다. 앞서 `week_days`에 할당된 문자열에 다양한 메소드를 적용하여 새로운 문자열을 생성하였지만 `week_days`에 할당된 문자열 자체는 전혀 변하지 않았음을 아래와 같이 확인할 수 있다.

In [ ]:
week_days

' Mon, Tue, Wed, Thu, Fri, Sat, Sun '

이와 같이 한 번 정해지면 절대 변경이 불가능한 자료형을 불변(immutable) 자료형이라 부른다.  
주어진 문자열을 이용하여 새로운 문자열을 생성하고 활용하려면 새로운 변수에 저장하여 활용해야 한다.

In [ ]:
stripped_week_days = week_days.strip()

In [ ]:
stripped_week_days

'Mon, Tue, Wed, Thu, Fri, Sat, Sun'