# 파이썬 프로그래밍 실습 1

__문제 1.__ 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인하여라.

* 정수 25와 정수 12를 더하시오.
* 정수 13에서 정수 19를 빼시오.
* 정수 92과 부동소수점 8.0 을 곱하시오.
* 부동소수점 81.5을 부동소수점 2.0으로 나누시오.
* 정수 7를 5로 나눴을 때, 몫을 구하시오.
* 정수 100을 정수 7로 나눈 나머지를 구하시오.
* 정수 3의 세제곱을 구하시오.

In [1]:
25+12

37

In [2]:
13-19

-6

In [3]:
92 * 8.0

736.0

In [4]:
81.5 / 2.0

40.75

In [5]:
7 // 5

1

In [6]:
100 % 7

2

In [7]:
3 ** 3

27

__문제 2.__ 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인하여라.

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

In [8]:
type(3)

int

In [9]:
type(3.0)

float

In [10]:
type('3')

str

In [11]:
type('3.0')

str

In [12]:
type("3")

str

In [13]:
type("3.0")

str

__문제 3.__ 우유 가격은 820원이고, 아이스크림 가격은 1500원이다. 아이스크림은 3개이상 구입시 5%를 할인해준다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성하여라.

In [14]:
milk =  820
ice= 1500

# 우유 2개, 아이스크림 3개 구입 가격
price = milk * 2 + ice * 3 * 0.95
print(price, "원")

5915.0 원

__문제 4.__ 1㎡는 0.3025평이다. 84㎡는 몇 평인가? 반대로 30평은 몇 ㎡인가?**

In [15]:
# 84 제곱미터는 25.41평

84 * 0.3025

25.41

In [16]:
# 30평은  99.17 제곱미터

30 / 0.3025

99.17355371900827

__문제 5.__ 100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼다. 
1년 후에 받는 돈은 얼마인지를 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같다.

```python
1년 후 받는 원금 + 이자는 OOO원입니다.
```

힌트: f-문자열을 이용하세요.

In [17]:
# 100만원 월이율 3%

interest = 0.03

# 1년간 복리로 저축했을 때 1년 후 받을 돈?
# pass 명령문을 제거하고 필요한 코드를 작성하세요. 필요하면 여러 줄을 이용하세요.
pass

# 최종적으로 None 을 적당한 수식 또는 값으로 대체해야 함.
sum = None

print(f"1년 후 받는 원금 + 이자는 {sum}원입니다.")

1년 후 받는 원금 + 이자는 None원입니다.

**문제 6.** 문자열 연산을 이용하여 다음의 실행결과가 나오도록 코드를 다양한 방식으로 작성하여라.

* 방식 1: 

    ```python
    안녕하세요. 안녕하세요. 안녕하세요.
    ```
* 방식 2: 

    ```python
    안녕하세요.
    안녕하세요.
    안녕하세요.
    안녕하세요.
    안녕하세요.
    ```

In [18]:
hello = "안녕하세요."

In [19]:
# 방식 1

print(hello, hello, hello)

안녕하세요. 안녕하세요. 안녕하세요.

In [20]:
# 방식 1

print(hello + " " + hello + " " + hello)

안녕하세요. 안녕하세요. 안녕하세요.

In [21]:
# 방식 2

print(hello, hello, hello, hello, hello, sep='\n')

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [22]:
# 방식 3

i = 1
while i <= 5:
    print(hello)
    i = i + 1

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제 7.** `dogs`와 `cats` 두 개의 변수가 다음과 같이 선언되었다.

In [23]:
dogs, cats =  '12', '7'

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인하여라.

In [24]:
type(dogs)

str

In [25]:
type(cats)

str

(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같은 형식이다.

```python
강아지가 고양이보다 n 마리 더 많다.
```

힌트: `int()` 또는 `float()` 함수를 이용할 수 있다.

In [26]:
n = int(dogs) - int(cats)   # n = 5

print(f"강아지가 고양이보다 {n} 마리 더 많다.")

강아지가 고양이보다 5 마리 더 많다.

**문제 8.** 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인해보시오.

(1) `3`과 `4`가 다른지 여부를 판단

In [27]:
one = 3 != 4            # True

(2) `"hello"`와 `"hi"`가 같은지 여부를 판단

In [28]:
two = 'hello' == 'hi'    # False

(3) `2`가 `8`보다 작거나 같은지 판단

In [29]:
three = 2 <= 8           # True

(4) `12`가 `20`보다 큰지를 판단

In [30]:
four = 12 > 30           # False

아래의 결과가 `True`인지 `False`인지 판단해보고, 그 결과를 코드를 작성하여 확인하여라.

* (1) `and` (3)

In [31]:
one and three

True

* (2) `and not` (4)

In [32]:
two and not four

False

* (3) `or` (4)

In [33]:
three or four

True

**문제 9.** 15와 28 각각이 짝수인지 홀수인지를 판별하는 코드를 작성하여라. 
출력된 결과는 아래와 같은 형식이다.

```
15는 짝수인가요? False  
28은 짝수인가요? True
```

In [34]:
x = 15
even_or_odd = x % 2 == 0

print(f"{x}는 짝수인가요? {even_or_odd}")

15는 짝수인가요? False

In [35]:
x = 28
even_or_odd = x % 2 == 0

print(f"{x}는 짝수인가요? {even_or_odd}")

28는 짝수인가요? True

**문제 10.** 아래의 표는 어느 마트의 단위당 판매 가격이다.

 |제목|단위|가격|
 |:----:|----:|----:|
 |사과|1개|5,400원|
 |돼지고기|100g|2,480원|
 |달걀|10개|7,980원|
 |우유|1개|2,560원|
 |오이|1개|2,250원|

 A는 이 마트에서 사과 3개와 돼지고기 600g, 달걀 5개를 구매하려고 한다. 
 A는 총 비용을 구하는 프로그램을 작성하기 위해 아래와 같이 변수를 선언하였다.

In [36]:
apple = '3'
pork = '600'
egg = '5'

그리고 아래와 같은 형식으로 총 비용을 출력해주려고 한다. 

```python
사과 3개, 돼지고기 600g, 달걀 5개를 구매하는 총 비용은 OOO원이다. 
```

A가 선언한 변수를 활용하여 프로그램을 완성하여라.

힌트: 정수 모양의 문자열을 정수로 형변환하라.

In [37]:
# pass 명령문을 삭제하고 필요한 코드를 작성하세요. 필요하면 여러 줄을 이용하세요.
pass

# 아래 코드에서 사용된 None 을 모두 적절한 값 또는 수식으로 변경해야 한다.
cost = None

print("사과 {0}개, 돼지고기 {1}g, 달걀 {2}개를 구매하는 총 비용은 {3}원이다.".format(None, None, None, None))

사과 None개, 돼지고기 Noneg, 달걀 None개를 구매하는 총 비용은 None원이다.

**문제 11.** 과일 목록을 할당받는 `fruit` 변수가 아래와 같이 선언되었다.

In [38]:
fruit = "banana apple orange pineapple mango strawberry cherry"

아래 문자열 메서드를 이용하여 문제를 해결하라.

```python
strip(), split(), replace(), upper(), lower(), 
capitalize(), title(), startswith(), endswith()
```

(1) 각 과일 단어의 첫 알파벳을 대문자로 변경하려면 어떻게 해야 하는가?

In [39]:
fruit.title()

'Banana Apple Orange Pineapple Mango Strawberry Cherry'

(2) `fruit` 변수로부터 대문자 Y를 추출하는 코드를 작성하여라.

힌트: -1 인덱스 활용

In [40]:
last_string = fruit[-1]
last_string.upper()

'Y'

아래처럼 한 번에 해결할 수도 있다.

In [41]:
fruit[-1].upper()

'Y'

(3) `fruit` 변수로부터 her 문자열을 추출하는 코드를 작성하여라.

힌트: `'her'` 부분 문자열이 시작하는 위치의 인덱스와 슬라이싱 활용.

In [42]:
fruit[-5:-2]

'her'

(4) `fruit` 변수로부터 oae 문자열을 추출하는 코드를 작성하여라.

힌트: 스텝이 18인 슬라이스 활용

(5) `fruit` 변수로부터 yrrehc 문자열을 추출하는 코드를 작성하여라.

힌트: 스텝이 -1인 슬라이스 활용

**문제 12.** 다음 문자열이 주어졌다.

In [43]:
a_string = 'n o r t h w e s t e r n'

위 문자열을 이용하여 아래 문자열을 생성하는 코드를 구현하라.

```
'Northwestern'
```

힌트: `replace()` 메서드와 `title()` 메서드 연속 적용

**문제 13.** 아래 노래 가사를 활용하는 문제이다.

In [44]:
song = "When You are smiling, the whole world smiles with YOU"

(1) `count()`는 인자로 지정된 부분문자열의 주어진 문자열에서 몇 번 나타나는지를 확인해준다.
`count()`메소드를 이용하여 `song`에서 `a`가 등장하는 횟수를 구하여라.

In [45]:
song.count('a')

1

(2) `song`에서 `You`가 등장하는 횟수를 구하여라.

In [46]:
song.count('You')

1

(3) `song`에서 대소문자 구별없이 `w`가 등장하는 횟수를 구하는 코드를 작성하라.

힌트: `count()` 메서드를 호출하기 전에 `lower()` 또는 `upper()` 메서드를 사용한다.

(4) `song`에서 대소문자 구별없이 `you`가 등장하는 횟수를 구하는 코드를 작성하라.

힌트: `count()` 메서드를 호출하기 전에 `lower()` 또는 `upper()` 메서드를 사용한다.