# 파이썬 프로그래밍 실습 3

## 문제 1

아래 기준을 만족하는 `nested_sum()` 함수를 구현하라.

* 리스트를 인자로 사용한다.
* 리스트의 항목은 정수들의 리스트가 사용된다.
* 리턴값은 리스트에 사용된 모든 정수들의 합니다.

예제: 

```python
>>> t = [[1, 2], [3], [4, 5, 6]]
>>> nested_sum(t)
21
```

### 견본답안

- 단계 1: 먼저 항목으로 사용된 리스트들의 합(`sum()`)을 계산한다.
    단, 합의 출발점 옵션인자를 공리스트(`[]`)로 지정해야 한다.
    그러면 모든 항목 리스트들을 합쳐서 모은 1차원 리스트가 생성된다.
- 단계 2: 이후에 다시 `sum()` 함수를 실행하면 숫자들의 합이 계산된다.

In [1]:
def nested_sum(t):
    list = sum(t,[])
    total = sum(list)

    return total

In [2]:
t = [[1, 2], [3], [4, 5, 6]]

In [3]:
nested_sum(t)

하지만 위 함수는 2차원 리스트에 대해서만 작동하며,
예를 들어 아래와 같은 인자가 들어오면 오류를 발생시킨다.

In [4]:
t1 = [[1, 2], [3], 4, 5, 6]

In [5]:
nested_sum(t1)

TypeError: can only concatenate list (not "int") to list

이유는 `t1`에 리스트가 아닌 항목이 포함되어서 다른 리스트 항목과의 덧셈 연산이 지원되지 않기 때문이다.
이 문제를 해결하려면 리스트의 항목의 자료형을 확인해서 리스인 경우와 그렇지 않은 경우를 구분해서 처리해야 한다. 

어떤 값이 리스트인지 여부를 확인하는 간단한 방법은 다음과 같다.

In [6]:
isinstance(t, list)

True

In [7]:
isinstance(t1, list)

True

In [8]:
isinstance(3, list)

False

`isinstance()` 함수를 활용하여 `nested_sum()` 함수를 재정의하면 다음과 같다.

- 항목이 리스트인 경우: 이어붙이기 연산(`+`) 실행
- 항목이 숫자인 경우: 항목 추가 연산(`append()` 메서드) 실행

In [9]:
def nested_sum(t):
    t_ = []
    
    for x in t:
        if isinstance(x, list):
            t_ += x
        else:
            t_.append(x)

    return sum(t_)

이제 모든 종류의 2차원 리스트에 대해 잘 작동한다.

In [10]:
nested_sum(t1)

21

In [11]:
nested_sum(t)

21

## 문제 2

아래 기준을 만족하는 `cumsum()` 함수를 구현하라.

* 정수들의 리스트를 인자로 사용한다.
* 리턴값은 리스트에 사용된 정수들을 하나씩 누적해서 합한 값들의 리스트이다.

예제:

```python    
>>> t = [1, 2, 3]
>>> cumsum(t)
[1, 3, 6]
```

### 견본답안

- 단계 1: 입력 리스트를 인덱스별로 부분합을 계산한다. 
    이를 위해 슬라이싱과 `sum()` 함수를 이용한다.
- 단계 2: 부분합을 이용하여 새로운 리스트를 생성한다.

In [12]:
def cumsum(t):
    aList = []
   
    for i in range(len(t)):
        item = sum(t[:i+1])
        aList.append(item)
        
    return aList

In [13]:
t = [1, 2, 3]

In [14]:
print(cumsum(t))

[1, 3, 6]

## 문제 3

아래 기준을 만족하는 `middle()` 함수를 구현하라.

* 정수들의 리스트를 인자로 사용한다.
* 리턴값은 리스트의 처음과 끝에 사용된 항목을 제거한 리스트이다.

예제:

```python    
>>> t = [1, 2, 3, 4]
>>> middle(t)
[2, 3]
```

### 견본답안

- 인덱스 1부터 끝에서 둘째 인덱스까지를 대상으로 슬라이싱을 실행한 결과를 반환한다.
- __주의사항:__ 리스트 `t`의 마지막 항목의 인덱스는 `len(t)-1` 이다.

In [15]:
def middle(t):
    aList = t[1:len(t)-1]

    return aList

In [16]:
t = [1, 2, 3, 4, 5]

In [17]:
middle(t)

[2, 3, 4]

## 문제 4

아래 기준을 만족하는 `is_sorted()` 함수를 구현하라.

* 리스트를 인자로 사용한다.
* 입력된 리스트가 올림차순으로 정렬이 되어 있으면 `True`를
    그렇치 않으면 `False`를 리턴한다.

예제:

```python    
>>> is_sorted([1, 2, 2])
True
>>> is_sorted(['b', 'a'])
False
```

### 견본답안

- 입력된 리스트를 정렬한 후에 이전과 동일한지 여부를 판단한다.
- __참고:__ `sorted()` 함수는 리스트가 인자로 들어오면 정렬된 리스트를 반환한다.

In [18]:
def is_sorted(t):
    if sorted(t) == t:
        print("True")
    else:
        print("False")

In [19]:
is_sorted([1,2,2])

True

In [20]:
is_sorted([3,1,2])

False

In [21]:
is_sorted(['b','a'])

False

## 문제 5

아래 기준을 만족하는 `is_anagram` 함수를 구현하라.

* 두 개의 문자열을 입력받는다.
* 두 문자열이 서로 애너그램의 관계이면 `True`를
    그렇지 않으면 `False`를 리턴한다.

주의: 애너그램의 관계는 동일한 문자를 동일한 개수만큼 사용한 관계이다.<br>

예제:

```python    
>>> is_anagram('hello', 'eollh')
True
>>> is_anagram('hello', 'eoLLh')
False
```

### 견본답안

- 입력된 두 문자열을 대상으로 정렬된 두 문자열을 생성한 결과가 동일한지 여부를 판단한다.
- __참고:__ `sorted()` 함수는 문자열이 인자로 들어오면 문자들을 정렬시킨 새로운 문자열을 반환한다.

In [22]:
def is_anagram(a,b):
    if sorted(a) == sorted(b):
        print("True")
    else:
        print("False")

In [23]:
is_anagram("hello","eollh")

True

In [24]:
is_anagram("hello","eoLLh")

False

아래 세 문제는 각각 `break`, `continue`, `pass` 명령문의 이해를 도와준다.

## 문제 6

아래 `for` 반복문을 완성하여 실행결과가 
다음과 같이 나오도록 하라.

```
2은 소수다.
3은 소수다.
4 = 2*2
5은 소수다.
6 = 2*3
7은 소수다.
8 = 2*4
9 = 3*3
```

__힌트:__
* `break`의 역할을 
* `for` 반복문과 함께 사용되는 `else`의 역할에 주목할 것.

In [25]:
# 생략기호(...)를 삭제하고 적절한 코드를 입력하세요.

for n in range(2,10):
    for x in range(2, n):
        ...
    else:
        ...

### 견본답안

- 2부터 9까지의 자연수를 대상으로 소수 여부를 판단한다.
- 해당 수가 소수이면 소수임을 명시하고, 그렇지 않으면 가장 먼저 보다 작은 수들의 곱으로 표현한다.
    여기서는 가장 먼저 발견되는 작은 수들의 곱을 사용한다.
- 소수 여부 판단은 해당 수보다 작은 값들에 의해 나누어지는가를 확인하는 방식을 사용한다.
    - 보다 작은 수에 의해 나누어지지 않으면 소수라고 판정한다.
    - 어떤 작은 수에 의해 나주어지면 더 이상 확인하지 않고 바로 작은 수들의 곱으로 표현한다.
        이 부분에서 `break` 명령문이 필요하다.
- `for` 반복문과 함께 사용되는 `else` 문은 `for` 반복문을 실행할 때 `break` 등이 실행되지 않을 경우에만 
    실행된다.

In [26]:
for n in range(2, 10):
    for x in range(2, n):               # 보다 작은 수들로 나누어지는 여부 판단
        if n % x == 0:                  # 나누어지는 경우 break 작동
            print(f"{n} = {x}*{n//x}")
            break
    else:                               # 보다 작은 수로 나누어지지 않는 경우
        print(f"{n}은 소수다.")

2은 소수다.
3은 소수다.
4 = 2*2
5은 소수다.
6 = 2*3
7은 소수다.
8 = 2*4
9 = 3*3

## 문제 7

아래 `for` 반복문을 완성하여 실행결과가 
다음과 같이 나오도록 하라.

```
짝수 2을(를) 찾았다.
3을(를) 찾았다.
짝수 4을(를) 찾았다.
5을(를) 찾았다.
짝수 6을(를) 찾았다.
7을(를) 찾았다.
짝수 8을(를) 찾았다.
9을(를) 찾았다.
```

__힌트:__

* `if` 조건문과 `continue` 명령문 활용

In [27]:
# 생략기호(...)를 삭제하고 적절한 코드를 입력하세요.

for n in range(2,10):
    ...

## 문제 8

아래 `for` 반복문을 완성하여 실행결과가 
다음과 같이 나오도록 하라.

```
짝수 2을(를) 찾았다.
2을(를) 찾았다.
3을(를) 찾았다.
짝수 4을(를) 찾았다.
4을(를) 찾았다.
5을(를) 찾았다.
짝수 6을(를) 찾았다.
6을(를) 찾았다.
7을(를) 찾았다.
짝수 8을(를) 찾았다.
8을(를) 찾았다.
9을(를) 찾았다.
```

__힌트:__

* `if` 조건문과 `pass` 명령문 활용

In [28]:
# 생략기호(...)를 삭제하고 적절한 코드를 입력하세요.

for n in range(2,10):
    ...