# 컴퓨팅 기초 : 처음 만나는 컴퓨팅

**[실습 주의 사항]**
* 실습 파일명을 아래의 형식(반_학번_이름)으로 변경하세요.  
> 005_2021-12345_이름.ipynb

* 실습 파일을 공유하세요.
> hj617kim@gmail.com & 담당 튜터

* 마크다운(Markdown)을 활용해서 제목을 붙이세요.  
> #2주차 강의  
> #2주차 실습 

* 문제별로 셀을 구분하여 코드를 작성하세요.

* 공유한 <font color="red"> 반_학번_이름.ipynb </font>파일을 불러와서 그 파일에 작성하세요!

**문제1) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인하여라.**

* 정수 25와 정수 12를 더하시오.
* 정수 13에서 정수 19를 빼시오.
* 정수 92과 부동소수점 8.0 을 곱하시오.
* 부동소수점 81.5을 부동소수점 2.0으로 나누시오.
* 정수 7를 5로 나눴을 때, 몫을 구하시오.
* 정수 100을 정수 7로 나눈 나머지를 구하시오.
* 정수 3의 세제곱을 구하시오.

In [1]:
print("25 + 12 : ", 25 + 12)
print("13 - 19 : ", 13 - 19)
print("92 * 8.0 : ", 92 * 8.0)
print("81.5 / 2.0 : ", 81.5 / 2.0)
print("7 // 5 : ", 7 // 5)
print("100 % 7 : ", 100 % 7)
print("3 ** 3 : ",3 ** 3)

25 + 12 :  37
13 - 19 :  -6
92 * 8.0 :  736.0
81.5 / 2.0 :  40.75
7 // 5 :  1
100 % 7 :  2
3 ** 3 :  27

**문제2) 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인하여라.**

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

In [2]:
print(type(3))
print(type(3.0))
print(type('3'))
print(type('3.0'))
print(type("3"))
print(type("3.0"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

**문제3) 우유 가격은 820원이고, 아이스크림 가격은 1500원이다. 아이스크림은 3개이상 구입시 5%를 할인해준다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성하여라.**

In [3]:
milk_price = 820
icecream_price = 1500
total_price = milk_price * 2 + (icecream_price * 3) * 0.95
print("총 가격은: ", total_price, "원")

총 가격은:  5915.0 원

**문제4) 1㎡는 0.3025평이다. 84㎡는 몇 평인가? 반대로 30평은 몇 ㎡인가?**

In [4]:
m2 = 0.3025
py = 1/m2

print("84제곱미터는 ", 84*m2, "평이다.")
print("30평은 ", 30*py, "제곱미터이다.")

84제곱미터는  25.41 평이다.
30평은  99.17355371900827 제곱미터이다.

**문제5) 100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼다. 1년후에 받는 돈은 얼마인지를 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같다.**

> 1년 후 받는 원금 + 이자는 OOO원입니다.

In [5]:
money = 100
rate = 0.03
n = 12

print("1년 후 받는 원금 + 이자는 ", money*(1+rate)**12, "만원입니다.")

1년 후 받는 원금 + 이자는  142.57608868461793 만원입니다.

**문제6) 문자열 연산을 이용하여 다음의 실행결과가 나오도록 코드를 작성하여라**

(1)

```
안녕하세요. 안녕하세요. 안녕하세요.
```

(2)
```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

note) 다양한 방법으로 코드를 작성해보자.

In [6]:
hi = "안녕하세요. "
print(hi * 3)

안녕하세요. 안녕하세요. 안녕하세요.

In [7]:
print("안녕하세요. " * 3)

안녕하세요. 안녕하세요. 안녕하세요.

In [8]:
print("안녕하세요. " + "안녕하세요. " + "안녕하세요. ")

안녕하세요. 안녕하세요. 안녕하세요.

In [9]:
hi = hi + "\n"
print(hi * 5)

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [10]:
print("안녕하세요.\n" * 5)

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [11]:
print("안녕하세요.\n" + "안녕하세요.\n" + "안녕하세요.\n" + "안녕하세요.\n" + "안녕하세요.\n")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제7) `dogs`와 `cats` 두 개의 변수가 다음과 같이 선언되었다.**  
`dogs, cats = '12', '7'`  

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인하여라.  
(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같은 형식이다.
> 강아지가 고양이보다 n 마리 더 많다.

[note] `int()` 함수 대신 `float()` 함수를 이용할 수 있다.

In [12]:
dogs, cats = '12', '7'
print(type(dogs), type(cats))
dogs = int(dogs)
cats = int(cats)

print("강아지가 고양이보다 ", dogs - cats, "마리 더 많다.")

<class 'str'> <class 'str'>
강아지가 고양이보다  5 마리 더 많다.

In [13]:
dogs, cats = '12', '7'
dogs = float(dogs)
cats = float(cats)
diff = dogs - cats

print("강아지가 고양이보다 "+str(diff)+"마리 더 많다.")

강아지가 고양이보다 5.0마리 더 많다.

[note] 문자열과 정수(또는 부동소수점)은 덧셈을 할 수 없다. 여기서는 `str()`을 이용하여 `diff`을 문자열로 변경한 다음, 문자열 덧셈을 할 수 있다.

**문제8) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인해보시오**  
(1) `3`과 `4`가 다른지 여부를 판단  
(2) `"hello"`와 `"hi"`가 같은지 여부를 판단  
(3) `2`가 `8`보다 작거나 같은지 판단  
(4) `12`가 `20`보다 큰지를 판단  

**아래의 결과가 `True`인지 `False`인지 판단해보고, 그 결과를 코드를 작성하여 확인하여라**

* (1) `and` (3)
* (2) `and not` (4)
* (3) `or` (4)

[주의] `=` 는 대입 연산자이고, `==` 는 비교 연산자이다.  

[note] 아래 `p1 = 3 != 4`는 `3`과 `4`가 다른지 여부를 판단한 결과를 변수 `p1`에 할당하라는 코드이다.

In [14]:
p1 = 3 != 4
p2 = "hello" == "hi"
p3 = 2 <= 8
p4 = 12 > 20

print("p1:", p1, ", p2:", p2, ", p3:", p3, ", p4:", p4)


print(p1 and p3)   
print(p2 and not p4)
print(p3 or p4)

p1: True , p2: False , p3: True , p4: False
True
False
True

**문제9) 15, 28이 각각 짝수인지 홀수인지를 판별하는 코드를 작성하여라. 출력된 결과는 아래와 같은 형식이다.**

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

In [15]:
ans15 = 15 % 2 != 1
ans28 = 28 % 2 != 1

print("15는 짝수인가요?", ans15)
print("28은 짝수인가요?", ans28)

15는 짝수인가요? False
28은 짝수인가요? True

연습을 더 하고 싶다면, 아래의 문제를 풀어보세요!  
  
  
**[추가문제] 아래의 표는 어느 마트의 단위당 판매 가격이다.**

 |제목|단위|가격|
 |:----:|:----:|----|
 |사과|1개|5,400원|
 |돼지고기|100g|2,480원|
 |달걀|10개|7,980원|
 |우유|1개|2,560원|
 |오이|1개|2,250원|

 A는 이 마트에서 사과 3개와 돼지고기 600g, 달걀 5개를 구매하려고 한다. 
 A는 총 비용을 구하는 프로그램을 작성하기 위해 아래와 같이 변수를 선언하였다.
 ```
apple = '3'
pork = '600'
egg = '5'
 ```
 그리고 아래와 같은 형식으로 총 비용을 출력해주려고 한다. 
 > 사과 3개, 돼지고기 600g, 달걀 5개를 구매하는 총 비용은 OOO 원이다. 

 A가 선언한 변수를 활용하여 프로그램을 완성하여라.

예시 답안은 아래에 있음
```
















.
```

In [16]:
apple = '3'
pork = '600'
egg = '5'

int_apple = int(apple)
int_pork = int(pork)
int_egg = int(egg)

total_price = int_apple * 5400 + int_pork * (2480 / 100) + int_egg * (7980 / 10)

print("사과 " + apple + "개, 돼지고기 " + pork + "g, 달걀 " + egg + "개를 구매하는 총 비용은 ", total_price, "원이다.")

사과 3개, 돼지고기 600g, 달걀 5개를 구매하는 총 비용은  35070.0 원이다.